* {
  box-sizing: border-box;
  font-family: monospace;
  color: rgb(240, 240, 240);
  font-size: 18px;
}

.container {
  width: 640px;
  padding: 20px;
  background-color: rgb(40, 40, 40);
  border-radius: 15px;
}

.title {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  margin-bottom: 10px;
  width: 140px;
  padding: 10px 15px;
  border-width: 3px;
  border-radius: 5px;
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
}

.button.start {
  background-color: rgb(30, 120, 30);
}

.button.clear {
  background-color: rgb(120, 30, 30);
}

.button.random {
  background-color: rgb(120, 30, 120);
}

.button.edit {
  background-color: rgb(30, 30, 120);
}

.grid {
  display: grid;
  grid-template-columns: repeat(60, 10px);
  grid-gap: 0px;
  width: 100%;
}

.cell {
  width: 10px;
  height: 10px;
}

.credit {
  margin-top: 15px;
}
.info {
  display: block;
  color: rgb(180, 180, 240);
  margin-top: 10px;
}